/* Um arquivo css só pode conter definições CSS. */
/* Nele, definimos estilos de tags, classes, ids, etc. */

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#6d6b6b;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #707070;
    margin-left: 30px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 40;
    color:#6d6b6b;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 40;
    color:#6d6b6b;
}

h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 40;
    color:#6d6b6b;
}


a {
    font-weight: 30;
    font-style: italic;
    color: #eb8f8f;
}

form {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#b31e1e;
}

.formulario {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#b31e1e;
}

button {
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#msg {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #11b411;
}